doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="description", content="Conte dragon")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    title Tales of Heroes - Awesome iPhone game
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Graduate', type='text/css')
    link(rel='stylesheet', href='./css/reset.css')
    link(rel='stylesheet', href='./css/main.css')
body

  #main.main
    #background.background
      #background_sky.background__sky
        .background__line.background__line--blue_dark
        .background__line.background__line--blue_medium
        .background__line.background__line--blue_light
        .background__line.background__line--yellow
        .background__line.background__line--orange_light
        .background__line.background__line--orange_medium
        .background__line.background__line--red
      #background_ground.background__ground
        .background__line.background__line--green_dark
        .background__line.background__line--green_light
        .background__line.background__line--brown

    //- .landscape
    //-   #clouds.landscape__clouds
    //-     .landscape__cloud.landscape__cloud--cloud0
    //-     .landscape__cloud.landscape__cloud--cloud1
    //-     .landscape__cloud.landscape__cloud--cloud2
    //-     .landscape__cloud.landscape__cloud--cloud3
    //-     .landscape__cloud.landscape__cloud--cloud4 
    //-   #characters.landscape__characters
    //-     .landscape__character.landscape__character--human
    //-       .selector.selector--human
    //-     .landscape__character.landscape__character--dog
    //-   #tree.landscape__tree
    //-   #fences.landscape__fences
    //-     .landscape__fences--left

  script(src='./js/vendors/requestAnimationFrame.js')
  script(src='./js/vendors/greensock/TweenMax.min.js')
  script(src='./js/vendors/jquery-1.9.1.min.js')
  script(src='./js/main.min.js')

  script
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
